@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

button,
._btn {
    cursor: pointer;
    outline: none;
}

ul li {
    list-style: none;
}

@keyframes card-animation {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: auto;
        opacity: 1;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #000000;
}

.wrapper {
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: #F1F1F1;
}

._orange {
    background-color: #FFE4C2;
    color: #FF6D00;
}

._green {
    background-color: #B4FDD1;
    color: #06B16E;
}

._purple {
    background-color: #E9D4FF;
    color: #9A48F1;
}

._gray {
    background: #94A6BE;
    color: #FFFFFF;
}
